<h1> Fast, Free and Simple Handicapping Leagues</h1>
<p> The game is simple. Pick winners against the spread and compete against your pool.</p>

<a class="btn btn-success" href="users/sign_up"> Start a Pool </a>